*.mp4
*.log
*.out
out
CMakeFiles/
cmake-build-debug
.DS_Store
gui/RecorderGUI/.idea/vcs.xml
working-example/RecorderGUI/cmake_install.cmake
working-example/RecorderGUI/CMakeCache.txt
working-example/RecorderGUI/Makefile
working-example/RecorderGUI/ScreenRecorder
working-example/RecorderGUI/ScreenRecorder.cbp
working-example/RecorderGUI/ui_MainView.h
working-example/RecorderGUI/ui_Recorder.h
working-example/RecorderGUI/config.tests/static_link_order/cmake_install.cmake
working-example/RecorderGUI/config.tests/static_link_order/CMakeCache.txt
working-example/RecorderGUI/config.tests/static_link_order/libstaticLib.a
working-example/RecorderGUI/config.tests/static_link_order/Makefile
working-example/RecorderGUI/config.tests/static_link_order/static_link_order_test
moc_*
mocs_*